.singleproduct-img {
  width: 25rem;
  margin: 0 auto;
}

.singleProduct-text {
  margin-top: 5rem;
}

@media screen and (min-width: 700px) {
  .singleproduct-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .singleproduct-img {
    width: 40rem;
  }

  .singleProduct-text {
    margin-top: 0;
  }
}
.cart p {
  margin: 0;
}

.cart-img {
  width: 5rem;
}

.cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.update-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.increase-btn,
.reduce-btn,
.removeCart {
  background: none;
  height: 3rem;
  width: 2rem;
  /* font-size: 3rem; */
  line-height: 3rem;
}

.total {
  text-align: right;
}
