.singleproduct-img {
  width: 25rem;
  margin: 0 auto;
}

.singleProduct-text {
  margin-top: 5rem;
}

@media screen and (min-width: 700px) {
  .singleproduct-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .singleproduct-img {
    width: 40rem;
  }

  .singleProduct-text {
    margin-top: 0;
  }
}
