* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.singleproduct-img {
  width: 25rem;
  margin: 0 auto;
}

.singleProduct-text {
  margin-top: 5rem;
}

@media screen and (min-width: 700px) {
  .singleproduct-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .singleproduct-img {
    width: 40rem;
  }

  .singleProduct-text {
    margin-top: 0;
  }
}
.cart p {
  margin: 0;
}

.cart-img {
  width: 5rem;
}

.cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.update-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.increase-btn,
.reduce-btn,
.removeCart {
  background: none;
  height: 3rem;
  width: 2rem;
  /* font-size: 3rem; */
  line-height: 3rem;
}

.total {
  text-align: right;
}

.product-categories {
  display: flex;
  flex-direction: row;
}

.btn-category {
  margin: 0;
  font-size: 1.1rem;
  cursor: pointer;
  color: crimson;
}

@media screen and (min-width: 750px) {
  .products-center {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-categories {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.img-container {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
}

.serach-input {
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-bottom: 2rem;
}
